@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade,
.fade-signout {
    visibility: hidden;
}

.fade-in {
    animation: fade-in 0.5s ease-out forwards;
}

.fade-out {
    animation: fade-out 0.5s ease-out forwards;
}

@keyframes fade {
    from {
        visibility: hidden;
        opacity: 0;
    }
    80% {
        visibility: visible;
        opacity: 0.4;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes show-position {
    from {
        height: 2.5rem;
    }
    to {
        height: 10rem;
    }
}

.show-position-dropdown {
    animation: show-position 0.3s ease forwards;
}

@keyframes close-position-select {
    from {
        height: 10rem;
    }
    to {
        height: 2.5rem;
    }
}

.close-position-dropdown {
    animation: close-position-select 0.3s ease forwards;
}

@keyframes show-region-select {
    from {
        height: 2.5rem;
    }
    to {
        height: 36rem;
    }
}

.show-region-dropdown {
    animation: show-region-select 0.3s ease forwards;
}

@keyframes close-region-select {
    from {
        height: 36rem;
    }
    to {
        height: 2.5rem;
    }
}

.close-region-dropdown {
    animation: close-region-select 0.3s ease forwards;
}

.fd {
    animation: fade 0.5s ease forwards;
}
