@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade {
    visibility: hidden;
}

.fade-in {
    animation: fade-in 0.5s ease forwards;
}

.fade-out {
    animation: fade-out 0.5s ease forwards;
}

@keyframes show-select {
    from {
        height: 2.5rem;
    }
    to {
        height: 10rem;
    }
}

.show-dropdown {
    animation: show-select 0.3s ease forwards;
}

@keyframes close-select {
    from {
        height: 10rem;
    }
    to {
        height: 2.5rem;
    }
}

.close-dropdown {
    animation: close-select 0.3s ease forwards;
}