%f-row-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

%f-row-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%f-row-start-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

%f-row-end-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

%f-row-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

%f-col-c-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// input

%input {
    width: 100%;
    height: 2.5rem;
    padding: 0.625rem 0.8125rem;
    margin-bottom: 1.875rem;
    outline: none;
    border-radius: 0.5rem;
}

// dashed-border

%dashed {
    display: inline-block;
    border-top: 2px dashed $blue;
    content: "";
    flex: 1;
}
