// hide for mobile
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

// hide for desktop
.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

body {
    background-color: $body-bg;
}

.noscroll {
    overflow: hidden;
}

.choosen {
    color: $blue!important;
    opacity: 1!important;
}

.hide {
    display: none!important;
    visibility: hidden;
}

.container {
    position: relative;
}

.error {
    position: absolute;
    display: block;
    left: 0;
    bottom: 10px;
    color: red;
    @include font($firago-r, 0.7rem, 1rem);

    &.select {
        bottom: -20px;
    }
}