.main {
    background-color: $main-bg;
    padding: 0 1rem;
    overflow: auto;

    @include breakpoint-up(medium) {
        border-radius: 0.375rem;
        margin-top: 4.625rem;
    }

    @include breakpoint-up(large) {
        border-radius: 0.7rem;
    }

    @include breakpoint-up(xLarge) {
        border-radius: 1.5rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    &-div {
        height: 10px;
        margin: 25px;
    }

    &-nav {
        margin: 1.25rem 0;

        @include breakpoint-up(medium) {
            width: 95%;
            margin: 0 auto;
            margin-top: 3.75rem;
        }

        @include breakpoint-up(large) {
            width: 89%;
        }

        &-item {
            font-family: $firago-b;
            font-size: 0.75rem;
            line-height: 1rem;
            color: $black;

            @include breakpoint-up(medium) {
                margin: 3.75rem 0;
            }

            &:first-child::after {
                content: ">";
                display: inline-block;
                margin-left: 0.3125rem;
                margin-right: 0.625rem;
            }
        }
    }

    &-signout {
        @extend %f-col-c-c;
        width: 18.125rem;
        margin: 0 auto;

        @include breakpoint-up(medium) {
            width: 27.125rem;
        }

        @include breakpoint-up(xLarge) {
            width: 35.25rem;
        }

        &-title {
            font-family: $firago-b;
            font-size: 1.3125rem;
            line-height: 1.75rem;
            margin: 0.625rem 0;
        }

        &-text {
            font-family: $firago-r;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            color: $blue;
            margin: 0.75rem 0;
        }

        &-form {
            width: 100%;
            margin: 1.875rem 0;

            &-label {
                display: inline-block;
                font-family: $firago-m;
                font-size: 1rem;
                line-height: 1.3125rem;
                margin-bottom: 0.75rem;

                > a {
                    color: $blue;
                }

                &.required {
                    &::after {
                        content: "*";
                        color: $red;
                        display: inline-block;
                        margin-left: 0.5rem;
                    }
                }
            }

            &-input {
                width: 100%;
                height: 2.5rem;
                padding: 0.625rem 0.8125rem;
                margin-bottom: 1.875rem;
                border: 1px solid $blue;
                outline: none;
                border-radius: 0.5rem;

                &[type="checkbox"] {
                    width: auto;
                    height: auto;
                    margin-right: 0.625rem;
                    margin-bottom: 0.75rem;
                }

                &[type="submit"] {
                    background-color: $blue;
                    color: $white;
                    font-size: 1rem;
                    line-height: 1.3125rem;
                    border: none;
                    outline: none;
                    border-radius: 0.5rem;
                    margin: 1.875rem 0;
                }
            }

            &-cb {
                @extend %f-row-start-start;

                &.cb {
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}
