// breakpoints
// 768px, 1024px, 1366px
$breakpoints-up: ("medium" : "48em", "large" : "64em", "xLarge" : "85.375em");
// 767px, 1023px, 1365px
$breakpoints-down: ("small" : "47.9375em", "medium" : "63.9375em", "large" : "85.3125em");

// fonts
$firago-m: 'FiraGO-Medium';
$firago-r: 'FiraGO-Regular';
$firago-b: 'FiraGO-Bold';

// colors
$body-bg: rgb(240, 241, 243);
$search-btn-bg: rgb(241, 242, 244);
$main-bg: rgb(251, 251, 251);
$overley-bg: rgba(142, 147, 255, 0.8);
$white: rgb(255, 255, 255);
$blue: rgb(114, 121, 255);
$black: rgb(0, 0, 0);
$red: rgb(231, 76, 60);
$fb: rgb(57, 87, 154);
$gmail: rgb(213, 75, 61);