html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade,
.fade-signout {
  visibility: hidden;
}

.fade-in {
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 0.5s ease-out forwards;
          animation: fade-out 0.5s ease-out forwards;
}

@-webkit-keyframes fade {
  from {
    visibility: hidden;
    opacity: 0;
  }
  80% {
    visibility: visible;
    opacity: 0.4;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade {
  from {
    visibility: hidden;
    opacity: 0;
  }
  80% {
    visibility: visible;
    opacity: 0.4;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes show-position {
  from {
    height: 2.5rem;
  }
  to {
    height: 10rem;
  }
}

@keyframes show-position {
  from {
    height: 2.5rem;
  }
  to {
    height: 10rem;
  }
}

.show-position-dropdown {
  -webkit-animation: show-position 0.3s ease forwards;
          animation: show-position 0.3s ease forwards;
}

@-webkit-keyframes close-position-select {
  from {
    height: 10rem;
  }
  to {
    height: 2.5rem;
  }
}

@keyframes close-position-select {
  from {
    height: 10rem;
  }
  to {
    height: 2.5rem;
  }
}

.close-position-dropdown {
  -webkit-animation: close-position-select 0.3s ease forwards;
          animation: close-position-select 0.3s ease forwards;
}

@-webkit-keyframes show-region-select {
  from {
    height: 2.5rem;
  }
  to {
    height: 36rem;
  }
}

@keyframes show-region-select {
  from {
    height: 2.5rem;
  }
  to {
    height: 36rem;
  }
}

.show-region-dropdown {
  -webkit-animation: show-region-select 0.3s ease forwards;
          animation: show-region-select 0.3s ease forwards;
}

@-webkit-keyframes close-region-select {
  from {
    height: 36rem;
  }
  to {
    height: 2.5rem;
  }
}

@keyframes close-region-select {
  from {
    height: 36rem;
  }
  to {
    height: 2.5rem;
  }
}

.close-region-dropdown {
  -webkit-animation: close-region-select 0.3s ease forwards;
          animation: close-region-select 0.3s ease forwards;
}

.fd {
  -webkit-animation: fade 0.5s ease forwards;
          animation: fade 0.5s ease forwards;
}

.header-menu, .header-menu-nav, .header-menu-signin, .header-menu-search, .header-mobile-menu-close, .main-form-close, .main-signout-form-input.checkbox, .main-signout-alternative-or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header, .main-signout-form-input.select .placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-signout-alternative-btn, .footer-items-contact, .footer-items-contact > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-signout-form-cb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-signout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-signout-form-input.select .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-signout-form-input, .main-signout-alternative-btn {
  width: 100%;
  height: 2.5rem;
  padding: 0.625rem 0.8125rem;
  margin-bottom: 1.875rem;
  outline: none;
  border-radius: 0.5rem;
}

.main-signout-alternative-or::before, .main-signout-alternative-or::after {
  display: inline-block;
  border-top: 2px dashed #7279ff;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

body {
  background-color: #f0f1f3;
}

.noscroll {
  overflow: hidden;
}

.choosen {
  color: #7279ff !important;
  opacity: 1 !important;
}

.hide {
  display: none !important;
  visibility: hidden;
}

.container {
  position: relative;
}

.error {
  position: absolute;
  display: block;
  left: 0;
  bottom: 10px;
  color: red;
  font-family: "FiraGO-Regular";
  font-size: 0.7rem;
  line-height: 1rem;
}

.error.select {
  bottom: -20px;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: white;
  padding: 1.375rem 1rem;
}

@media (min-width: 48em) {
  .header {
    width: 95%;
    position: absolute;
    top: 2.125rem;
    left: calc(50% - 95% / 2);
    padding: 1.375rem 1.875rem;
    border-radius: 0.5rem;
  }
}

@media (min-width: 85.375em) {
  .header {
    width: 89%;
    left: calc(50% - 89% / 2);
  }
}

.header-menu-nav-item {
  margin-right: 2.5rem;
  font-family: "FiraGO-Medium";
  color: black;
  font-size: 1rem;
}

.header-menu-nav-item:last-child {
  margin-right: 1.0625rem;
}

.header-menu-nav-item:hover {
  color: #7279ff;
}

.header-menu-nav-item.active {
  color: #7279ff;
}

.header-menu-hamburger {
  margin-right: 1.25rem;
}

.header-menu-hamburger:hover {
  cursor: pointer;
}

.header-menu-signin {
  width: 6.625rem;
  height: 2.5rem;
  background-color: #7279ff;
  color: white;
  font-family: "FiraGO-Medium";
  border-radius: 0.375rem;
  border: none;
  outline: none;
  margin-right: 0.625rem;
}

.header-menu-signin:hover {
  cursor: pointer;
}

.header-menu-signin > img {
  margin-right: 0.375rem;
}

.header-menu-search {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f1f2f4;
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.header-menu-search:hover {
  cursor: pointer;
}

.header .overley {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(142, 147, 255, 0.8);
}

.header-mobile-menu {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  padding: 25px 0;
  border-radius: 0.5rem;
  visibility: hidden;
}

@media (min-width: 48em) {
  .header-mobile-menu {
    top: 50vh;
    left: 50%;
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
}

.header-mobile-menu-close {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: calc(50% - 2.5rem/2);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  border: 1px solid #7279ff;
  border-radius: 0.5rem;
}

.header-mobile-menu-close:hover {
  cursor: pointer;
}

.header-mobile-menu a {
  display: block;
  color: black;
  text-align: center;
  margin: 15px;
  font-family: "FiraGO-Medium";
}

.header-mobile-menu a:hover {
  color: #7279ff;
}

.main {
  background-color: #fbfbfb;
  padding: 0 1rem;
  overflow: auto;
}

@media (min-width: 48em) {
  .main {
    border-radius: 0.375rem;
    margin-top: 4.625rem;
  }
}

@media (min-width: 64em) {
  .main {
    border-radius: 0.7rem;
  }
}

@media (min-width: 85.375em) {
  .main {
    border-radius: 1.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

.main .overley-signout {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(142, 147, 255, 0.8);
  z-index: 15;
}

.main-form {
  width: 90%;
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  z-index: 16;
  padding: 25px 0;
  border-radius: 0.5rem;
  visibility: hidden;
}

@media (min-width: 48em) {
  .main-form {
    top: 50vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.main-form-close {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: calc(50% - 2.5rem / 2);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
  border: 1px solid #7279ff;
  border-radius: 0.5rem;
}

.main-form-close:hover {
  cursor: pointer;
}

.main-form-item {
  color: rgba(0, 0, 0, 0.6);
  font-family: "FiraGO-Medium";
  font-size: 1rem;
  line-height: 1.875rem;
}

.main-form-item-value {
  color: black;
  font-family: "FiraGO-Regular";
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-form p {
  display: block;
  color: black;
  text-align: center;
  margin: 15px;
  font-family: "FiraGO-Medium";
}

.main-nav {
  margin: 1.25rem 0;
}

@media (min-width: 48em) {
  .main-nav {
    width: 95%;
    margin: 0 auto;
    margin-top: 3.75rem;
  }
}

@media (min-width: 64em) {
  .main-nav {
    width: 89%;
  }
}

.main-nav-item {
  font-family: "FiraGO-Bold";
  font-size: 0.75rem;
  line-height: 1rem;
  color: black;
}

@media (min-width: 48em) {
  .main-nav-item {
    margin: 3.75rem 0;
  }
}

.main-nav-item:first-child::after {
  content: ">";
  display: inline-block;
  margin-left: 0.3125rem;
  margin-right: 0.625rem;
}

.main-signout {
  width: 18.125rem;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .main-signout {
    width: 27.125rem;
  }
}

@media (min-width: 85.375em) {
  .main-signout {
    width: 35.25rem;
  }
}

.main-signout-title {
  font-family: "FiraGO-Bold";
  font-size: 1.3125rem;
  line-height: 1.75rem;
  margin: 0.625rem 0;
}

.main-signout-text {
  font-family: "FiraGO-Regular";
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #7279ff;
  margin: 0.75rem 0;
}

@media (min-width: 85.375em) {
  .main-signout-text {
    width: 80%;
  }
}

.main-signout-form {
  width: 100%;
  margin-top: 1.875rem;
}

.main-signout-form .password {
  position: relative;
}

.main-signout-form .password > img {
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

.main-signout-form .password > img:hover {
  cursor: pointer;
}

.main-signout-form-label {
  display: inline-block;
  font-family: "FiraGO-Medium";
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-bottom: 0.75rem;
}

.main-signout-form-label:hover {
  cursor: pointer;
}

.main-signout-form-label > a {
  color: #7279ff;
}

.main-signout-form-label.required::after {
  content: "*";
  color: #e74c3c;
  display: inline-block;
  margin-left: 0.5rem;
}

.main-signout-form-input {
  border: 1px solid #7279ff;
}

.main-signout-form-input:focus {
  border: 2px solid #7279ff;
}

.main-signout-form-input.checkbox {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: white;
}

.main-signout-form-input.checkbox.checked {
  background-color: #7279ff;
}

.main-signout-form-input.checkbox:hover {
  cursor: pointer;
}

.main-signout-form-input.button {
  background-color: #7279ff;
  color: white;
  font-family: "FiraGO-Medium";
  font-size: 1rem;
  line-height: 1.3125rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin-top: 1.875rem;
  margin-bottom: 0;
}

.main-signout-form-input.button:hover {
  cursor: pointer;
}

.main-signout-form-input.select {
  text-align: start;
  height: 2.5rem;
}

.main-signout-form-input.select:hover {
  cursor: pointer;
}

.main-signout-form-input.select .list {
  height: 80%;
  visibility: hidden;
}

.main-signout-form-input.select .list > li {
  font-family: "FiraGO-Medium";
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  color: #7279ff;
}

.main-signout-form-input.select .list > li:hover {
  cursor: pointer;
}

.main-signout-form-input.select .placeholder {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-signout-form-input.select .placeholder > span {
  font-family: "FiraGO-Medium";
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  opacity: 0.3;
  padding: 0 8px;
}

.main-signout-form-input.select.open-select {
  border: 2px solid #7279ff;
  display: block;
}

.main-signout-form-input.select.open-select.region-container {
  height: 36rem;
}

.main-signout-form-input.select.open-select.region-container .list {
  height: 96%;
  visibility: visible;
}

.main-signout-form-input.select.open-select.position-container {
  height: 10rem;
}

.main-signout-form-input.select.open-select.position-container .list {
  height: 80%;
  visibility: visible;
}

.main-signout-form-input.select.open-select .placeholder::after {
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0.3;
  content: "";
  background-color: #7279ff;
  margin-top: 0.75rem;
}

.main-signout-form-input.select.open-select .list li {
  width: 100%;
  padding: 7px 8px;
}

.main-signout-form-input.select.open-select .list li:hover {
  color: white;
  background-color: #7279ff;
  border-radius: 5px;
}

.main-signout-form-cb > label {
  margin-left: 10px;
}

.main-signout-form-cb > label > a {
  text-decoration: underline !important;
}

.main-signout-alternative {
  width: 100%;
  margin-bottom: 1.875rem;
}

@media (min-width: 48em) {
  .main-signout-alternative {
    margin-bottom: 5.4375rem;
  }
}

@media (min-width: 85.375em) {
  .main-signout-alternative {
    margin-bottom: 8.875rem;
  }
}

.main-signout-alternative-or {
  margin: 2.5rem 0;
  width: 100%;
  font-family: "FiraGO-Bold";
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

@media (min-width: 48em) {
  .main-signout-alternative-or {
    margin: 3.4375rem 0;
  }
}

.main-signout-alternative-or::before {
  margin-right: 2.5rem;
}

.main-signout-alternative-or::after {
  margin-left: 2.5rem;
}

.main-signout-alternative-btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
}

.main-signout-alternative-btn:hover {
  cursor: pointer;
}

.main-signout-alternative-btn.fb {
  background-color: #39579a;
}

.main-signout-alternative-btn.gmail {
  background-color: #d54b3d;
}

.main-signout-alternative-btn > span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: white;
  font-family: "FiraGO-Medium";
  font-size: 1rem;
  line-height: 2.5rem;
}

.main-signout-alternative-already {
  margin-top: 0.625rem;
}

@media (min-width: 48em) {
  .main-signout-alternative-already {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3.4375rem;
  }
}

.main-signout-alternative-already > p {
  text-align: center;
  font-family: "FiraGO-Regular";
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-signout-alternative-already > p:first-child {
  margin-right: 0.5rem;
}

.main-signout-alternative-already > p:last-child > a {
  color: #7279ff;
}

.main-signout-alternative-already > p:last-child > a::after {
  content: url("../../assets/images/arrow.svg");
  display: inline-block;
  margin-left: 0.5rem;
}

.footer {
  padding: 1.875rem 1rem;
}

@media (min-width: 48em) {
  .footer {
    padding: 2.5rem 3.125rem;
  }
}

.footer-items {
  font-family: "FiraGO-Regular";
  font-size: 0.875rem;
  line-height: 1.1875rem;
}

@media (min-width: 48em) {
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-items-contact {
  margin-bottom: 1.875rem;
}

@media (min-width: 48em) {
  .footer-items-contact {
    width: 100%;
  }
}

.footer-items-contact > a:first-child {
  color: black;
  font-family: "FiraGO-Regular";
  font-size: 1rem;
  line-height: 1.3125rem;
  vertical-align: middle;
}

.footer-items-contact > a:first-child::after {
  width: 2px;
  height: 20px;
  content: "";
  display: inline-block;
  background-color: black;
  opacity: 0.3;
  margin-left: 2.0625rem;
}

.footer-items-contact > a:nth-child(2) {
  margin: 0 1.5rem;
}

.footer-items-contact > a > img:hover {
  fill: #7279ff;
}

.footer-items-item {
  color: black;
  margin: 0.625rem 0;
  display: block;
}

.footer-items-item > span {
  vertical-align: middle;
}

.footer-items-item-line {
  opacity: 0.3;
  display: none;
  width: 1px;
  height: 20px;
  background-color: black;
}

@media (min-width: 48em) {
  .footer-items-item-line {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */